body {
  font-family: "Raleway", sans-serif; 
  display: flex;
  justify-content: center;
  background-color: #444444;
}

.nav-bar {
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 600px; 
  height: 20px; 
  background-color: #444444;
  box-shadow: 0px 8px 24px rgba(29, 30, 30, 0.2);
  display: flex;

}

li, li a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff; 
}

li a:hover {
  height: 100%; 
  background-color: green; 
  color: white;
}

.nav-devider {
  color: #fff; 
}




.project-card {
  display: inline-block;
  max-width: 400px; 
  width: 100%;
  min-height: 600px; 
  background-color: #fff;
  border-radius: 10px; 
  box-shadow: 5px 5px 15px black; 
  margin: 20px;
  padding: 10px;
  text-align: left;
  
}

.project-title {
  text-align: center;
}

.project-info-title {
  margin-bottom: -10px;
}


.project-img {
  max-width: 400px;
}