* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif; 
  display: flex;
  justify-content: center;
  background-color: #444444;
}

/* Navigation */
.nav-bar {
  width: 100vw;
  display: flex;
  justify-content: flex-end;

}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding: 20px;
  height: 20px;
  
}

li, li a {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff; 
}

ul li a {
  position: relative;
}

ul li a, nav ul li a:after, nav ul li a:before {
  transition: all .5s;
}

ul li a:after {
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: "";
  color: transparent;
  background: #aaa;
  height: 1.2px;
}

ul li a:hover:after {
  width: 100%;
}

.nav-devider {
  color: #ffffff0e; 
}

/* Home */

.home-container {
  margin-top: 30px; 
  width: 100vw; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.home-title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px; 
}


/* About */

.about-container {
  margin-top: 30px; 
  width: 100vw; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.about-title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px; 

}

.about-text {
  width: 600px; 
  text-align: center;
  color: #fff;
  margin-bottom: 30px; 

}

.preview-button {
  position: relative; 
  font-size: 18px;
  padding: 7px;
  border-radius: 10px;
  border: none;
}

.preview-button:hover {
  background-color: #b3b1b1;
}


/* Project cards */

.project-container {
  margin-top: 20px; 
  display: flex; 
  flex-wrap: wrap;

  
}

.project-card {
  max-width: 400px; 
  width: 100%;
  height: 370px;  
  background-color: #fff;
  border-radius: 10px; 
  box-shadow: 5px 5px 15px black; 
  margin: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px; 
  text-align: center;
  
}

.project-title {
  text-align: center;
  margin: 10px;
}

.project-info-title {
  margin-top: 10px;
}


.project-img {
  max-width: 400px;
}

/* Popup */

.popup-window {
  position: absolute; 
  top: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 280px;
  background-color: #ffffff82;
  box-shadow: 0 0 20px 0 #00000033;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  padding: 10px; 
  color: #000;
}

.pop-button {
  margin-top: 40px; 
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.pop-button:hover {
  background-color: #b3b1b1;
}


/* Contact */

.contact-container {
  margin-top: 30px; 
  width: 100vw; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.contact-title {
  font-size: 30px;
  color: #fff;
  margin-bottom: 10px; 
}